<style>
	.text-center{
		font-weight:bold;
	}

	.text-config{
		font-weight:500;
	}
	p{
		font-size:large;
	}
</style>


<div class="breadcrumbs">
	<div class="container">
		<div class="row">
			<div class="col">
				<p class="bread"><span><a asp-action="Index" asp-controller="Home">Trang chủ</a></span> / <span>Giới thiệu</span></p>
			</div>
		</div>
	</div>
</div>


<div class="colorlib-about">
	<div class="container">
		<h2 class="text-center">Giới thiệu nhà hàng Savoria</h2>
		<br/>
		<div class="row row-pb-lg">
			<div class="col-sm-6">
				<div class="about-wrap">
					<h2 class="text-config">Không chỉ có những món ăn tuyệt vời...</h2>
					<p>		
							Nhà hàng Savoria đã trở thành một địa chỉ ẩm thực mới cho những
							người sành ăn ở Đà Nẳng với phong cách sang trọng, hiện đại, sự kết hợp hài hòa giữa phong cách tối giản và trẻ trung nhưng 
							vẫn mang nét tinh tế của phương Tây. Với sức chứa trên 200 khách, Savoria là một địa điểm đáng tin cậy để tổ chức các
							lễ hội, sự kiện trang trọng và ấm cúng. Ngoài ra, nhà hàng còn có hệ thống phòng VIP phù hợp cho khách hàng muốn có không 
							gian riêng tư để tiếp đón khách và đối tác.			
					</p>
					<p>
							Với sứ mệnh mang đến ẩm thực độc đáo từ 5 châu lục gần hơn với khách hàng, Phúc Thành hiểu rằng việc lựa chọn nguyên liệu tươi
							ngon và chất lượng luôn là ưu tiên hàng đầu. Qua bàn tay khéo léo của các đầu bếp giàu kinh nghiệm, mỗi bữa ăn của bạn trở thành 
							một bữa tiệc nghệ thuật ẩm thực, không chỉ thưởng thức những món ăn ngon mà còn ngắm nhìn những tác phẩm đẹp mắt khó cưỡng từ hải
							sản đến những món truyền thống, từ sự tinh tế của các món ăn Châu Âu đến những hương vị phong phú của ẩm thực Á-Âu.
					</p>
				</div>
			</div>
			<div class="col-sm-6 mb-3">
					<img src="~/client-site/images/alo123.png" width="500px" height="500px"/>
					<div class="overlay"></div>
			</div>
		</div>
		<div class="row row-pb-lg">
			<div class="col-sm-6 mb-3">
				<img src="~/client-site/images/ok.jpg" width="500px" height="500px" />
				<div class="overlay"></div>
			</div>
			<div class="col-sm-6">
				<div class="about-wrap">
					<h2 class="text-config">Không gian xanh và phòng riêng sang trọng....</h2>
					<p>
						Ngoài ra, chúng tôi còn có không gian xanh lấy cảm hứng từ những quán ngoài trời nổi 
						tiếng của Paris, không gian mở tràn đầy cỏ cây, hoa lá, hồ cá kính ngay dưới chân bàn ăn, khách hàng sẽ mang lại một
						trải nghiệm hoàn toàn mới và độc đáo, khách hàng sẽ được ngập tràn trong cuộc sống sôi động 
						nhưng vẫn giữ được không gian yên tĩnh.
					</p>
					<p>
						Với sứ mệnh mang đến ẩm thực độc đáo từ 5 châu lục gần hơn với khách hàng, Savoria hiểu rằng việc lựa chọn nguyên liệu tươi
						ngon và chất lượng luôn là ưu tiên hàng đầu. Qua bàn tay khéo léo của các đầu bếp giàu kinh nghiệm, mỗi bữa ăn của bạn trở thành
						một bữa tiệc nghệ thuật ẩm thực, không chỉ thưởng thức những món ăn ngon mà còn ngắm nhìn những tác phẩm đẹp mắt khó cưỡng từ hải
						sản đến những món truyền thống, từ sự tinh tế của các món ăn Châu Âu đến những hương vị phong phú của ẩm thực Á-Âu.
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
